[user]
    name = "Zack Douglas"
    email = perfectstar04@gmail.com
[color]
    ui = auto
[core]
    editor = emacs
[alias]
    a = add
    br = branch
    cfg = !$EDITOR ~/.gitconfig
    ci = commit
    cim = commit -m
    co = checkout
    di = diff
    lg = log --oneline --graph
    u = !git remote update origin && echo && git st
    uu = !git u && git pull
    pom = push origin master
    st = status -s -uno --porcelain
    sts = status